[Unit]
Description=Fatbuildr build daemon
After=systemd-sysusers.service

[Service]
BusName=org.rackslab.Fatbuildr
ExecStart=/usr/libexec/fatbuildrd
WatchdogSec=3min
Restart=on-failure
User=fatbuildr
# Ensure cache and state directories are created and owned by fatbuildr system
# user before the service starts.
StateDirectory=fatbuildr fatbuildr/workspaces fatbuildr/images fatbuildr/keyring fatbuildr/registry fatbuildr/tokens
CacheDirectory=fatbuildr

[Install]
WantedBy=multi-user.target
