[Unit]
Description=Fatbuildr build daemon

[Service]
BusName=org.rackslab.Fatbuildr
ExecStart=/usr/bin/fatbuildrd

[Install]
WantedBy=multi-user.target
