{% extends "layout/base.html.j2" %}
{% block title %}{{ instance }} > {{ format }} > {{ distribution }} > {{ binary }} binary artefact{% endblock %}
{% block content %}
<h1>{{ instance }} > {{ format }} > {{ distribution }} > {{ binary }} binary artefact</h1>
Source artefact:
<a href="/{{ instance }}/registry/{{ format }}/{{ distribution }}/src/{{ source.name }}">{{ source.name }}</a> {{ source.architecture }} {{ source.version }}
{% endblock %}
