{% extends "layout/base.html.j2" %}
{% block title %}{% if config['INSTANCE'] == 'all' %}{{ instance }} > {% endif %}{{ format }} > {{ distribution }} > {{ derivative }} > {{ artifact }} binary artifact{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if config['INSTANCE'] == 'all' %}<li class="breadcrumb-item"><a href="{{ url_for('registry', instance=instance, output='html') }}">{{ instance }}</a></li>{% endif %}
    <li class="breadcrumb-item"><a href="{{ url_for('format', instance=instance, fmt=format, output='html') }}">{{ format }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('distribution', instance=instance, fmt=format, distribution=distribution, output='html') }}">{{ distribution }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('derivative', instance=instance, fmt=format, distribution=distribution, derivative=derivative, output='html') }}">{{ derivative }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ artifact }} binary artifact</li>
  </ol>
</nav>

<h1>{{ artifact }} binary artifact</h1>
Source artifact:
<a href="{{ url_for('artifact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=source.architecture, artifact=source.name, output='html') }}">{{ source.name }}</a> {{ source.architecture }} {{ source.version }} {% if source.size %}<small>({{ source.size | filesizeformat }})</small>{% endif %}
{% include 'partials/changelog.html.j2' %}

{% if content|length %}
<h2>Content</h2>
<ul class="list-unstyled">
{% for member in content %}
  <li>
{% if member.type == 'd' %}
    <i class="bi bi-folder"></i>
{% elif member.type == 'l' %}
    <i class="bi bi-box-arrow-up-right"></i>
{% elif member.type == 'f' %}
    <i class="bi bi-file-earmark"></i>
{% else %}
    <i class="bi bi-file-earmark-excel"></i>
{% endif %}
    <span class="font-monospace">
      <small>{{ member.path }}</small>
    </span>
{% if member.type == 'f' %}
    <small>({{ member.size | filesizeformat }})</small>
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}

<a href="{{ url_for('artifact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=architecture, artifact=artifact, output='json') }}">JSON</a>
{% endblock %}
