{% extends "layout/base.html.j2" %}
{% block title %}{% if config['INSTANCE'] == 'all' %}{{ instance }} > {% endif %}{{ format }} > {{ distribution }} > {{ derivative }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if config['INSTANCE'] == 'all' %}<li class="breadcrumb-item"><a href="{{ url_for('registry', instance=instance, output='html') }}">{{ instance }}</a></li>{% endif %}
    <li class="breadcrumb-item"><a href="{{ url_for('format', instance=instance, fmt=format, output='html') }}">{{ format }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('distribution', instance=instance, fmt=format, distribution=distribution, output='html') }}">{{ distribution }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ derivative }}</li>
  </ol>
</nav>

<h1>Artefacts</h1>
<ul>
{% for artefact in artefacts %}
  <li>
    <a href="{{ url_for('artefact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=artefact.architecture, artefact=artefact.name, output='html') }}">
      {{ artefact.name }} {{ artefact.architecture }} {{ artefact.version }}
    </a>
  </li>
{% endfor %}
</ul>
<a href="{{ url_for('derivative', instance=instance, fmt=format, distribution=distribution, derivative=derivative, output='json') }}">JSON</a>
{% endblock %}
