{% extends "layout/base.html.j2" %}
{% block title %}{% if config['INSTANCE'] == 'all' %}{{ instance }} > {% endif %}{{ format }} > {{ distribution }} > {{ derivative }}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if config['INSTANCE'] == 'all' %}<li class="breadcrumb-item"><a href="{{ url_for('registry', instance=instance, output='html') }}">{{ instance }}</a></li>{% endif %}
    <li class="breadcrumb-item"><a href="{{ url_for('format', instance=instance, fmt=format, output='html') }}">{{ format }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('distribution', instance=instance, fmt=format, distribution=distribution, output='html') }}">{{ distribution }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ derivative }}</li>
  </ol>
</nav>

<h1>Artifacts</h1>
<ul>
{% for artifact in artifacts %}
  <li>
    <a href="{{ url_for('artifact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=artifact.architecture, artifact=artifact.name, output='html') }}">
      {{ artifact.name }} {{ artifact.architecture }} {{ artifact.version }}
    </a>
{% if artifact.size %}
    <small>({{ artifact.size | filesizeformat }})</small>
{%endif %}
  </li>
{% endfor %}
</ul>
<a href="{{ url_for('derivative', instance=instance, fmt=format, distribution=distribution, derivative=derivative, output='json') }}">JSON</a>
{% endblock %}
