<!doctype html>
<html>
  <head>
    <title>Fatbuildr: instance {{ instance }} format {{ format }} distribution {{ distribution }}</title>
  </head>
  <body>
    <h1>Artefacts available in instance {{ instance }} for format {{ format }} in distribution {{ distribution }}:</h1>
    <ul>
{% for artefact in artefacts %}
      <li>
        {% if artefact.architecture == 'src' %}
        <a href="/{{ instance }}/registry/{{ format }}/{{ distribution }}/src/{{ artefact.name }}">
        {% else %}
        <a href="/{{ instance }}/registry/{{ format }}/{{ distribution }}/bin/{{ artefact.name }}">
        {% endif %}
        {{ artefact.name }} {{ artefact.architecture }} {{ artefact.version }}
        <a>
      </li>
{% endfor %}
    </ul>
  </body>
</html>
