{% extends "layout/base.html.j2" %}
{% block title %}{{ instance }} > {{ format }} > {{ distribution }}{% endblock %}
{% block content %}
<h1>{{ instance }} > {{ format }} > {{ distribution }} > artefacts </h1>
<ul>
{% for artefact in artefacts %}
  <li>
    <a href="/{{ instance }}/registry/{{ format }}/{{ distribution }}/{{ artefact.architecture }}/{{ artefact.name }}">
      {{ artefact.name }} {{ artefact.architecture }} {{ artefact.version }}
    </a>
  </li>
{% endfor %}
</ul>
<a href="../{{ distribution }}.json">JSON</a>
{% endblock %}
