{% extends "layout/base.html.j2" %}
{% block title %}{{ instance }} > {{ format }}{% endblock %}
{% block content %}
<h1>{{ instance }} > {{ format }} > distributions</h1>
<ul>
{% for distribution in distributions %}
  <li><a href="{{ distribution }}/">{{ distribution }}<a></li>
{% endfor %}
</ul>
{% endblock %}
