<!doctype html>
<html>
  <head>
    <title>Fatbuildr: instances</title>
  </head>
  <body>
    <h1>Available instances:</h1>
    <ul>
{% for instance in instances %}
      <li><a href="{{ instance }}/">{{ instance }}<a></li>
{% endfor %}
    </ul>
  </body>
</html>
