{% extends "layout/base.html.j2" %}
{% block title %}instances{% endblock %}
{% block content %}
<h1>Available instances:</h1>
<ul>
{% for instance in instances %}
  <li><a href="{{ instance.id }}/registry/">{{ instance.id }} ({{ instance.name }})<a></li>
{% endfor %}
</ul>
<a href="instances.json">JSON</a>
{% endblock %}
