{% extends "layout/base.html.j2" %}
{% block title %}{{ instance }}{% endblock %}
{% block content %}
<h1>{{ instance }} > formats</h1>
<ul>
{% for _format in formats %}
  <li><a href="{{ _format}}/">{{ _format }}<a></li>
{% endfor %}
</ul>
<a href="../keyring.asc">keyring</a><br/>
<a href="../registry.json">JSON</a>
{% endblock %}
