{% extends "layout/base.html.j2" %}
{% block title %}{% if config['INSTANCE'] == 'all' %}{{ instance }}{% else %}formats{% endif %}{% endblock %}
{% block content %}
<h1>{% if config['INSTANCE'] == 'all' %}{{ instance }} > {% endif %}formats</h1>
<ul>
{% for _format in formats %}
  <li><a href="{{ url_for('format', instance=instance, fmt=_format, output='html') }}">{{ _format }}</a></li>
{% endfor %}
</ul>
<a href="{{ url_for('keyring', instance=instance) }}">keyring</a><br/>
<a href="{{ url_for('registry', instance=instance, output='json') }}">JSON</a>
{% endblock %}
