{% extends "layout/base.html.j2" %}
{% block title %}{% if config['INSTANCE'] == 'all' %}{{ instance }}{% else %}formats{% endif %}{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if config['INSTANCE'] == 'all' %}<li class="breadcrumb-item active" aria-current="page">{{ instance }}</li>{% endif %}
  </ol>
</nav>
<h1>Formats</h1>
<ul>
{% for _format in formats %}
  <li><a href="{{ url_for('format', instance=instance, fmt=_format, output='html') }}">{{ _format }}</a></li>
{% endfor %}
</ul>

<h1>Tasks</h1>
<h2>Running</h2>
{% if running %}
<a href="{{ url_for('watch', instance=instance, task_id=running.id, output='html') }}">{{ running.id }}</a> [{{ running.name }}] {{ running.submission }}
{% else %}
∅
{% endif %}
<h2>Pending</h2>
{% if not pending %}
∅
{% else %}
<ul>
  {% for task in pending %}
    <li>{{ task.id }} [{{ task.name }}] {{ task.submission }}</li>
  {% endfor %}
</ul>
{% endif %}
<h2>Finished</h2>
{% if not archives %}
∅
{% else %}
<ul>
  {% for task in archives %}
    <li><a href="{{ url_for('watch', instance=instance, task_id=task.id, output='html') }}">{{ task.id }}</a> [{{ task.name }}] {{ task.submission }}</li>
  {% endfor %}
</ul>
{% endif %}
<a href="{{ url_for('keyring', instance=instance) }}">keyring</a><br/>
<a href="{{ url_for('registry', instance=instance, output='json') }}">JSON</a>
{% endblock %}
