{% extends "layout/base.html.j2" %}
{% block title %}{{ instance }} > {{ format }} > {{ distribution }} > {{ source }} source artefact{% endblock %}
{% block content %}
<h1>{{ instance }} > {{ format }} > {{ distribution }} > {{ source }} source artefact</h1>
Binary artefacts:
<ul>
{% for artefact in binaries %}
  <li><a href="/{{ instance }}/registry/{{ format }}/{{ distribution }}/bin/{{ artefact.name }}">{{ artefact.name }}</a> {{ artefact.architecture }} {{ artefact.version }}</li>
{% endfor %}
</ul>
{% endblock %}
