{% extends "layout/base.html.j2" %}
{% block title %}{{ instance }} > {{ format }} > {{ distribution }} > {{ derivative }} > {{ artefact }} source artefact{% endblock %}
{% block content %}
<h1>{{ instance }} > {{ format }} > {{ distribution }} > {{ derivative }} > {{ artefact }} source artefact</h1>
Binary artefacts:
<ul>
{% for binary in binaries %}
  <li><a href="{{ url_for('artefact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=binary.architecture, artefact=binary.name, output='html') }}">{{ binary.name }}</a> {{ binary.architecture }} {{ binary.version }}</li>
{% endfor %}
</ul>
{% include 'partials/changelog.html.j2' %}
<a href="{{ url_for('artefact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=architecture, artefact=artefact, output='json') }}">JSON</a>
{% endblock %}
