{% extends "layout/base.html.j2" %}
{% block title %}{% if config['INSTANCE'] == 'all' %}{{ instance }} > {% endif %}{{ format }} > {{ distribution }} > {{ derivative }} > {{ artifact }} source artifact{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    {% if config['INSTANCE'] == 'all' %}<li class="breadcrumb-item"><a href="{{ url_for('registry', instance=instance, output='html') }}">{{ instance }}</a></li>{% endif %}
    <li class="breadcrumb-item"><a href="{{ url_for('format', instance=instance, fmt=format, output='html') }}">{{ format }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('distribution', instance=instance, fmt=format, distribution=distribution, output='html') }}">{{ distribution }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('derivative', instance=instance, fmt=format, distribution=distribution, derivative=derivative, output='html') }}">{{ derivative }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ artifact }} source artifact</li>
  </ol>
</nav>

<h1>{{ artifact }} source artifact</h1>
Binary artifacts:
<ul>
{% for binary in binaries %}
  <li><a href="{{ url_for('artifact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=binary.architecture, artifact=binary.name, output='html') }}">{{ binary.name }}</a> {{ binary.architecture }} {{ binary.version }}</li>
{% endfor %}
</ul>
{% include 'partials/changelog.html.j2' %}
<a href="{{ url_for('artifact', instance=instance, fmt=format, distribution=distribution, derivative=derivative, architecture=architecture, artifact=artifact, output='json') }}">JSON</a>
{% endblock %}
