Source: fatbuildr
Priority: optional
Maintainer: Rémi Palancher <remi@rackslab.io>
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python3-all (>= 2.7),
 python3-setuptools,
 python3-dasbus,
 python3-debian,
 python3-flask,
 python3-jwt,
 python3-pygit2,
 python3-requests,
 python3-yaml,
 asciidoctor,
 bash-completion,
Standards-Version: 3.9.3
Section: devel

Package: fatbuildr
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 fatbuildr-common (= ${binary:Version}),
 fatbuildr-wrappers (= ${binary:Version}),
 policykit-1 | polkitd,
 createrepo-c,
 dnf,
 mkosi (>= 14),
 patch,
 reprepro,
 rpm,
 systemd-container,
Description: Software solution to build artifacts and publish them in registries
 Fatbuildr is a software solution to build various forms of artifacts (eg. deb
 and RPM packages) and publish them in managed registries with integrated
 keyring.
 .
 This package contains the main Fatbuildr applications.

Package: fatbuildr-common
Architecture: all
Depends:
 ${misc:Depends},
Description: Shared requirements for Fatbuildr components
 Fatbuildr is a software solution to build various forms of artifacts (eg. deb
 and RPM packages) and publish them in managed registries with integrated
 keyring.
 .
 This package contains the architecture independant requirements shared by
 Fatbuildr components.

Package: fatbuildr-wrappers
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 fatbuildr-common (= ${binary:Version}),
Description: Wrappers to run privileged operations in Fatbuildr
 Fatbuildr is a software solution to build various forms of artifacts (eg. deb
 and RPM packages) and publish them in managed registries with integrated
 keyring.
 .
 This package contains binary wrappers for Fatbuildr to run privileged
 operations such as instantiating containers and creating container images.
