<h2>Changelog:</h2>
<ul>
{% for entry in changelog %}
  <li>
  {{ entry.version }} : {{ entry.author|escape }} @ {{ entry.date|timestamp_iso }}
  <ul>
  {% for change in entry.changes %}
    <li>{{ change }}</li>
  {% endfor %}
  </ul>
  </li>
{% endfor %}
</ul>
