<!doctype html>
<html>
  <head>
    <title>Fatbuildr: {% block title %}{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='font/bootstrap-icons.min.css') }}" rel="stylesheet"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">
  </head>
  <body>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <nav class="navbar navbar-light mb-5 border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="{{ url_for('static', filename='logo/fatbuildr_logo_small_nobanner.png') }}"/>
            <span class="fs-4">Fatbuildr</span>
          </a>
          {% if instance is defined %}
          <form class="d-flex" action="{{ url_for('search', instance=instance, output='html') }}" method="get">
            <input class="form-control me-2" type="search" name="artifact" placeholder="Artifact" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          {% endif %}
        </div>
      </nav>

      <main>
        {% block content %}{% endblock %}
      </main>
      <footer class="pt-5 my-5 text-muted border-top">
        Created by Fatbuildr v{{ version }}
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
